<template>
  <div class="container">
    <DrawCanvas></DrawCanvas>
    <nav>
      <NuxtLink to="/" class="logo">Blob Shop Collective</NuxtLink>
      <!-- <NuxtLink to="/catalog">Catalog</NuxtLink> -->
      <a href="/online_bsc_catalogue_2024.pdf" target="__blank">Catalog</a>
      <!-- <NuxtLink to="/projects">Projects</NuxtLink> -->
      <NuxtLink to="/events">Events</NuxtLink>
    </nav>
    <NuxtPage class="page"></NuxtPage>
  </div>
</template>

<style lang="postcss">
nav {
  margin-bottom: 1em;
  display: flex;
  gap: 1em;
  z-index: 100;
  position: relative;

  .logo {
    margin-right: auto;
  }
}

.page {
  position: relative;
  z-index: 10;
}
</style>
