<template>
    <div>
        <ContentDoc v-slot="{ doc }">
            <header>
                <h2>{{ doc.title }}</h2>
                <div class="where">{{ doc.where }}, {{ doc.when }}</div>
            </header>

            <ContentRenderer class="description" :value="doc"></ContentRenderer>

            <div class="material">{{ doc.format }}</div>
            <div class="price">{{ doc.price }}</div>

            <ul v-if="doc.links" class="links">
                <li v-for="link in doc.links">
                    <a :href="link" target="__blank">{{ link }}</a>
                </li>

            </ul>
        </ContentDoc>
    </div>
</template>

<script setup>
</script>

<style lang="postcss" scoped>
header {
    h2 {
        margin-block: 0;
    }

    .subtitle {
        margin-bottom: 1em;
        font-style: italic;
    }

}

.description>* {
    max-width: 80ch;
}

.links {
    list-style: none;
    padding: 0;
}
</style>