<template>
    <div>
        <h2>Projects</h2>
        <p>
            I guess the list of projects is different from the catalog. Maybe here we could have a list with title, an
            image and short description. It could be maybe a grid of cards? Or just a list. Or maybe the same two
            options of the catalog?
            But projects and catalog are different things so I would say that the pages should look different.
        </p>
        <ContentList path="projects" v-slot="{ list }">
            <ul>
                <li v-for="project in list" :key="project._path">
                    <NuxtLink :to="project._path">{{ project.title }}</NuxtLink>
                </li>
            </ul>
        </ContentList>
    </div>
</template>

<script setup lang="ts">
const route = useRoute()
</script>

<style lang="postcss"></style>