<template>
    <div>
        <h2>Catalog</h2>
        <p>
            Here we could have 1. a funny view with lot of images and 2. a list view easier to browse. Also would be
            nice to have a filtering system (by topic, by format, idk), maybe with tags? And eventually a way to sort
            and search.
        </p>
        <ContentList path="catalog" v-slot="{ list }">
            <ul>
                <li v-for="item in list" :key="item._path">
                    <NuxtLink :to="item._path">{{ item.title }}</NuxtLink>
                </li>
            </ul>
        </ContentList>
    </div>
</template>

<script setup lang="ts">

</script>

<style lang="postcss"></style>