<template>
    <canvas ref="canvas"></canvas>
</template>

<script setup>



const { width, height } = useWindowSize();
const { x, y } = useMouse();
const { pressed } = useMousePressed()

const parentElement = ref(null);

const canvas = ref(null);
let ctx = null;

const bubbles = []
let current = null
let spawn = false
let radius = 10 + Math.floor(Math.random() * 50)
// let growingRadius = 0

const setCanvas = () => {
    // Reset canvas size to adjust HTML scrollWidth & scrollHeight
    canvas.value.width = 0;
    canvas.value.height = 0;

    // Get html container
    parentElement.value = document.querySelector("html");

    //  Set canvas size as html container size or window size
    canvas.value.width = Math.max(parentElement.value.scrollWidth, width.value);
    canvas.value.height = Math.max(parentElement.value.scrollHeight, height.value);

    //  Get context and set color
    ctx = canvas.value.getContext("2d");
};

const resizeCanvas = () => {
    let imageData = ctx.getImageData(0, 0, canvas.value.width, canvas.value.height);
    setCanvas()
    ctx.putImageData(imageData, 0, 0)

}

const drawCircle = (x, y, r, color) => {
    ctx.beginPath()
    ctx.fillStyle = color
    ctx.arc(x, y, r, 0, Math.PI * 2, true)
    ctx.fill()
}

const addBubble = (x, y, r, color) => bubbles.push({ x, y, r, color })

watchThrottled([width, height], () => resizeCanvas(), { throttle: 50 })

// whenever(pressed, () => {
//     if (!current)
//         current = { r: 10 + Math.floor(Math.random() * 50), color: 'dodgerblue' }
// })

onMounted(() => {
    if (canvas.value.getContext) {
        setCanvas();
        addBubble(width.value / 2, height.value / 2, 25, 'dodgerblue')
        animate()
    }
});

const animate = () => {
    ctx.clearRect(0, 0, canvas.value.width, canvas.value.height)
    const delta = 10

    if (!!current) {
        let intersect = bubbles.find(b => Math.abs(x.value - b.x) < b.r + current.r - delta && Math.abs(y.value - b.y) < b.r + current.r - delta)
        if (intersect) {
            addBubble(x.value, y.value, current.r, current.color)
            let impact = 5
            bubbles.forEach(b => {
                b.x = b.x + Math.floor(Math.random() * impact * (x.value > b.x ? -1 : 1))
                b.y = b.y + Math.floor(Math.random() * impact * (y.value > b.y ? -1 : 1))
            })
            current = null
        }
    }

    for (const bubble of bubbles) {
        drawCircle(bubble.x, bubble.y, bubble.r, bubble.color)
    }

    if (!!current) {
        drawCircle(x.value, y.value, current.r, current.color)
    }

    if (!current && !spawn) {
        spawn = true
        setTimeout(() => {
            spawn = false
            current = { r: radius, color: 'dodgerblue' }
            radius = 10 + Math.floor(Math.random() * 50)
        }, 1000)
    }

    // if (spawn) {
    //     growingRadius = growingRadius + 0.1
    //     drawCircle(x.value, y.value, Math.min(growingRadius, radius), 'dodgerblue')
    // }
    // ctx.filter = "drop-shadow(5px 5px 5px #000)"

    requestAnimationFrame(animate)
}

</script>

<style lang="postcss" scoped>
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /* backdrop-filter: blur(10px); */

    /* mix-blend-mode: multiply; */
    pointer-events: none;
}
</style>
