<template>
    <div>
        <h2>Events</h2>
        <p>
            <!-- A calendar layout would be funny. -->
        </p>

        <table class="events">
            <h3 class="upcoming">Upcoming</h3>
            <tr v-for="event in upcoming.reverse()" :key="event._path">
                <td class="title">

                    <template v-if="event.empty">
                        {{ event.title }}
                    </template>
                    <nuxt-link v-else :to="event._path">

                        <span>
                            {{ event.title }}
                        </span>

                    </nuxt-link>


                    <!-- <div class="description" v-if="event.description">{{ event.description }}</div> -->

                </td>
                <td class="where">
                    {{ event.where }}
                </td>

                <td class="when">
                    {{ date(event.when) }}
                </td>
            </tr>
            <h3 class="past">Past</h3>
            <tr v-for="event in past" :key="event._path">
                <td class="title">

                    <template v-if="event.empty">
                        {{ event.title }}
                    </template>
                    <nuxt-link v-else :to="event._path">

                        <span>
                            {{ event.title }}
                        </span>
                    </nuxt-link>
                    <!-- <div class="description" v-if="event.description">{{ event.description }}</div> -->

                </td>
                <td class="where">
                    {{ event.where }}
                </td>

                <td class="when">
                    {{ date(event.when) }}
                </td>
            </tr>
        </table>
    </div>
</template>

<script setup lang="ts">

import { useDateFormat } from '@vueuse/core'

const date = (when: string) => {
    return useDateFormat(new Date(when), 'Do MMM, YYYY').value
}


const { data: events } = await useAsyncData('events', () => queryContent('events').without('body').sort({ when: -1 }).find())

const upcoming = computed(() => (events.value || []).filter(e => new Date(e.when).valueOf() - Date.now() > 0))
const past = computed(() => (events.value || []).filter(e => new Date(e.when).valueOf() - Date.now() < 0))



</script>

<style lang="postcss">
table.events {

    width: 100%;
    border-collapse: collapse;

    td {
        padding-block: 1em;
        border-bottom: 1px solid currentColor;
    }

    a {
        text-decoration: none;
        position: relative;

        span {
            position: relative;
            z-index: 100;
        }

        &:after {
            content: "";
            position: absolute;
            transform: translateY(25%);
            bottom: 0;
            left: 0;
            height: 0.5em;
            width: 100%;
            background-color: dodgerblue;
            transition: transform 0.4s ease-in;

        }

        &:hover::after {
            transition: transform 0.2s ease-out;
            transform: translateY(50%);

        }

    }



    .description {
        font-size: 0.75em;
        opacity: 0.5;
    }

    .where {
        font-size: 0.75em;
    }

    .when {
        font-size: 0.75em;
        text-align: right;
    }

    .past {
        margin-top: 64px;
    }

}



@media screen and (max-width: 900px) {
    table.events {
        display: block;


        tr {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1em;

            td {
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 100%;

                padding-block: initial;
                border-bottom: none;


            }

            .when {
                flex-grow: 1;
                font-size: 0.6em;
                order: -1;
                text-align: left;
                margin: 0;
            }

            .where {
                font-size: 0.75em;
            }

            .title {
                line-height: 1.4;
                /* font-weight: 600; */

                a {
                    text-decoration: underline;

                    &:after {
                        content: none;
                    }
                }
            }


        }
    }
}
</style>