* {
	box-sizing: border-box;
}

html,
body {
	color: white;
	background-color: #906151;
	font-size: 1.25em;
	line-height: 1.4;
	font-family: sans-serif;
	margin: 0;
}

.container {
	margin: 24px;
}

main {
	display: flex;
	gap: 24px;
}

img {
	object-fit: cover;
}

a {
	color: currentColor;
}

h1 {
	margin: 0;
	font-size: 1.25em;
}

main > * {
	max-width: 60ch;
}

p {
	max-width: 80ch;
}

.people {
	margin-top: 32px;
	padding-top: 32px;
	border-top: 1px solid currentColor;
	list-style: none;
	padding-left: 0;

	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.people > * {
	transition: transform 2s ease-out;
	transform: rotate(0turn);
	pointer-events: all;
	font-size: 1rem;
	max-width: calc(60ch * 1.25);
}

.people li {
	margin: 0;
}

.people > *:hover {
	transform: rotate(1turn);
	transition: transform 1s ease-in;
}

.people > * + *:before {
	content: "•";
	margin-right: 8px;
}

.contact {
	font-size: 1rem;
	max-width: calc(60ch * 1.25);
}

li {
	margin-top: 0.75em;
}

@media (max-width: 1300px) {
	main {
		display: block;
		margin: 0;
		padding: 16px;
	}

	img {
		box-sizing: border-box;
		max-width: 100%;
		max-height: 80vh;
	}

	h1 {
		margin-top: 16px;
	}
}
