<template>
    <main>
        <img src="/eggs.webp" alt="Self portrait with eggs" />
        <div>
            <div class="presentation">
                <h1 class="title">Blob Shop Collective</h1>
                <p>
                    The Blob Shop Collective gathers multi-disciplinary artists and designers based
                    in Amsterdam and Rotterdam (NL) and operates internationally. Our activities
                    find their roots in inter-dependent publishing practices and foster connections
                    across diverse subjectivities, backgrounds, and disciplines.
                </p>
                <p>
                    Blob Shop Collective combines the notion of a <em>shop</em> — that acknowledges
                    and reacts to economic necessities within the independent publishing field —
                    with the self-organized structure of a <em>collective</em> that caters
                    togetherness. It is a meeting point where transactions and exchanges of
                    knowledges, skills and resources are circulating.
                </p>
                <p>
                    Our desire to investigate publishing through experiments with new and
                    traditional media, collective methodologies and DIY tools manifests in online
                    and offline publications, as well as intimate gatherings, workshops and public
                    moments.
                </p>
                <p>
                    As a publishing project in the making, we seek agency to build sustainable and
                    self-sufficient practices. Motivated by an open source mentality, we want to
                    explore alternative ways of living and working together and with others.
                </p>
            </div>
            <ul class="people">
                <li>Ål Nik</li>
                <li>Chae-Young Kim</li>
                <li>Emma Prato</li>
                <li>Erica Gargaglione</li>
                <li>Francesco Luzzana</li>
                <li>Gersande Schellinx</li>
                <li>Jian Haake</li>
                <li>Kimberley Cosmilla</li>
                <li>Miriam Schöb</li>
                <li>Mitsi Chaida</li>
                <li>Supisara Burapachaisri</li>
            </ul>
            <p class="contact">
                For new collaboration, or to host already existing Blob Shop Collective projects
                (check our
                <a href="https://www.instagram.com/blobshopcollective" target="_blank">IG</a>),
                please contact us at
                <a href="mailto:info@blobshopcollective.org">info@blobshopcollective.org</a>
            </p>
        </div>
    </main>
</template>

<script setup lang="ts"></script>

<style lang="postcss"></style>